/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #2d2d2d;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
    padding-right: 5%;
  }
  
  .calculator {
    background-color: #3e3e3e;
    padding: 20px;
    border-radius: 10px;
    padding-top: 1px;
    
  }
  
  .calculator h2 {
    color: orange;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 90%;

    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .charts {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 100%;
  }
  
  .charts div {
    width: 30%;
  }
  
  canvas {
    background-color: #3e3e3e;
    padding: 10px;
    border-radius: 10px;
  }

  #results {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto;
    margin-top:-200px; 
    z-index: 2;
  }
  
  #results p {
    margin: 0 15px;
    font-size: 16px;
    color: #fff;
    text-align: center;
  }